@use '../../sass' as *;

.bear--item {
  width: 135px;
  @include flex(center, center);
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s ease;
  img {
    width: 125px;
  }
  p{
    margin-top: 0.5rem;
    text-align: center;
  }

  &:hover {
    transform: scale(1.1);
  }

}