@use '../../sass' as *;

.bear--item {
  @include flex();
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s ease;
  img {
    width: 125px;
  }
  p{
    margin-top: 0.5rem;
  }


  &:hover {
    transform: scale(1.1);
  }

}