@use '../../sass' as *;

.header {
  margin-top: 3rem;
  &--menu {
    @include flex();
    gap: 1rem;
  }

  &--item {
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: $text-color;
      bottom: -2px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &.active{
      &::before{
        transform: scaleX(1);
      }
    }
  }
}